detect-requirements(1)                                                                 python3-requirements-detector                                                                 detect-requirements(1)

NAME
       detect-requirements - find and list requirements of a Python project

SYNOPSIS
       detect-requirements <path>

DESCRIPTION
       if path is not specified, the current working directory will be used

AUTHORS
       requirements-detector was written by Landscape.io <code@landscape.io>

1.3.2                                                                                           14 May 2025                                                                          detect-requirements(1)
